h1,h2
{
    color: #060d4b;
}

h3
{
    color: #9b0808;
    font-size: 1.2em;
    margin-top: 40px;
}
h4
{
    font-size: 1em;
    font-weight: bold;
}

.main_panel_accueil, .side_panel_accueil, .chapter_section
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.chapter_section, .main_panel_accueil, .side_panel_accueil
{
    border-bottom: rgb(152, 163, 173) 1px solid;
}
p
{
    text-align: justify;
}
.subparagraph
{
    padding-left: 20px;
}
table
{
    text-align: center;
}
td, th
{
    padding-left: 10px;
    padding-right: 10px;
}
.tableau
{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
caption,figcaption
{
    text-align: center;
    color: rgb(152, 163, 173);
}

.logo_collapsed
{
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar
{
    padding-bottom: 0px;
    padding-top: 0px;
}
.nav-item
{
    margin-bottom: 8px;
    margin-top: 8px;
}
#navbar-collapsed-button
{
    margin-bottom: 8px;
    margin-top: 8px;
}
.container1
{
    display: flex;
    margin: auto;
}
.container2
{
    display: flex;
    margin: auto;
}
.container2:nth-child(n)
{
    justify-content: stretch;
}
.dropdown-item:hover {
    background-color: #060d4b;
    color: #cbd3b7;
    }

.btn-primary
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.truthIndicator {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

@media (max-width: 500px) 
{
    .container1{width: 100%;}
}
@media (min-width: 576px) 
{ 
    .container1{width: 540px;}
}
@media (min-width: 768px) 
{
    .container1
    {
        width: 720px;
    }
}
@media (min-width: 992px) 
{
    .container1
    {
        width: 960px;
    }
}
@media (min-width: 1200px) 
{ 
    .container1
    {
        width: 80%;
        max-width: 1400px;
    }
}